@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 40px;
  display: block;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #061628,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dark-blue {
  background: #2F4156;
}

.lavender-text {
  background: #cfbdf4;
  background: -webkit-linear-gradient(
    to top,
    #e7c9fe,
    #9bb9ef
  );
  background: linear-gradient(
    to top,
    #e7c9fe,
    #9bb9ef
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mint-text {
  background: #a8dbef;
  background: -webkit-linear-gradient(
    to top,
    #99ebf6,
    #9bb9ef
  );
  background: linear-gradient(
    to top,
    #99ebf6,
    #9bb9ef
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

@keyframes hero-gradient-animation {
  0% {
      --c-0: hsla(202.95081967213116, 74%, 48%, 0.9);
      --s-start-0: 16%;
      --s-end-0: 66%;
      --x-0: 36%;
      --y-0: 14%;
      --y-1: 71%;
      --x-1: 83%;
      --s-start-1: 16.871729459163646%;
      --s-end-1: 66%;
      --c-1: hsla(217.99999999999997, 78%, 28%, 1);
      --c-2: hsla(170, 2%, 44%, 1);
      --s-start-2: 16%;
      --s-end-2: 66%;
      --x-2: 6%;
      --y-2: 95%;
      --y-3: 97%;
      --s-start-3: 16%;
      --s-end-3: 66%;
      --c-3: hsla(182.18181818181816, 67%, 84%, 1);
      --x-3: 70%;
      --c-4: hsla(222, 59%, 99%, 1);
      --x-4: 65%;
      --y-4: 81%;
      --s-start-4: 16%;
      --s-end-4: 66%;
  }

  100% {
      --c-0: hsla(202.95081967213116, 76%, 47%, 0.9);
      --s-start-0: 16;
      --s-end-0: 66;
      --x-0: 45%;
      --y-0: 19%;
      --y-1: 26%;
      --x-1: 90%;
      --s-start-1: 17.4295848901721%;
      --s-end-1: 66;
      --c-1: hsla(218.1818181818182, 85%, 25%, 1);
      --c-2: hsla(170, 2%, 44%, 1);
      --s-start-2: 17.13104041647796%;
      --s-end-2: 66;
      --x-2: 29%;
      --y-2: 58%;
      --y-3: 59%;
      --s-start-3: 16;
      --s-end-3: 66;
      --c-3: hsla(182, 67%, 84%, 1);
      --x-3: 78%;
      --c-4: hsla(222, 59%, 99%, 1);
      --x-4: 28%;
      --y-4: 68%;
      --s-start-4: 16;
      --s-end-4: 66;
  }
}

@property --c-0 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(202.95081967213116, 74%, 48%, 0.9)
}

@property --s-start-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 16%
}

@property --s-end-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 66%
}

@property --x-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 36%
}

@property --y-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 14%
}

@property --y-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 71%
}

@property --x-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 83%
}

@property --s-start-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 16.871729459163646%
}

@property --s-end-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 66%
}

@property --c-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(217.99999999999997, 78%, 28%, 1)
}

@property --c-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(170, 2%, 44%, 1)
}

@property --s-start-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 16%
}

@property --s-end-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 66%
}

@property --x-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 6%
}

@property --y-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 95%
}

@property --y-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 97%
}

@property --s-start-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 16%
}

@property --s-end-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 66%
}

@property --c-3 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(182.18181818181816, 67%, 84%, 1)
}

@property --x-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 70%
}

@property --c-4 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(222, 59%, 99%, 1)
}

@property --x-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 65%
}

@property --y-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 81%
}

@property --s-start-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 16%
}

@property --s-end-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 66%
}

.hero-gradient {
  --c-0: hsla(202.95081967213116, 74%, 48%, 0.9);
  --x-0: 36%;
  --y-0: 14%;
  --y-1: 71%;
  --x-1: 83%;
  --c-1: hsla(217.99999999999997, 78%, 28%, 1);
  --c-2: hsla(170, 2%, 44%, 1);
  --x-2: 6%;
  --y-2: 95%;
  --y-3: 97%;
  --c-3: hsla(182.18181818181816, 67%, 84%, 1);
  --x-3: 70%;
  --c-4: hsla(222, 59%, 99%, 1);
  --x-4: 65%;
  --y-4: 81%;
  ;
  background-color: hsla(182.4, 100%, 90%, 1);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal, normal;
}